# markdown
## markdown
### markdown
#### markdown

- python
   - python 1
   - python 2
      - python 1
      - python 2
      
- *python*
- **python**
-***python***

print function():
    . it allows to print specific text or messages

In [1]:
print("Hello world")

Hello world

In [3]:
print("hello ,world")

hello ,world

print("one","two","three")

# variable
      assaigning a value

In [6]:
a = 10 # single variable assained to single value
print(a)

10

In [7]:
a = b = c = 10 # multiple variables assained to single value
print(a,b,c)

10 10 10

In [8]:
a, b, c = 5, 4, 6
print(a,b,c)

5 4 6

# data types
   - int
   - float
   - string

In [9]:
# int
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [10]:
# float
f = 1.3
print(f,type(f))

1.3 <class 'float'>

In [ ]:
# string
s = "python"
print(s,type(s))

# data types
- integer-->  **int**
- float-->  **float**
- string-->  **str**

In [12]:
n = 10
print(n,type(n))
f = float(n)
print(f,type(f))
s = str(n)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [14]:
f = 1.5
print(f,type(f))
n = int(f)
print(n,type(n))
s = str(f)
print(s,type(s))

1.5 <class 'float'>
1 <class 'int'>
1.5 <class 'str'>

In [15]:
s = "12346"
print(s,type(s))
n = int(s)
print(n,type(n))
f = float(s)
print(f,type(f))

12346 <class 'str'>
12346 <class 'int'>
12346.0 <class 'float'>

#  input function

- read input from user

In [16]:
 # input as text
 a = input("enter your name :")
 print("my name is :",a)
 print(type(a))

enter your name :Rajendra
my name is : Rajendra
<class 'str'>

In [17]:
# input as number
q = int(input("enter a number :"))
print(q)
print(type(q))

enter a number :9
9
<class 'int'>

# exercises

In [25]:
# Display three string “Name”, “Is”, “James” as “Name**Is**James”
x = "Name"
y = "Is"
z = "James"
print(x,"**",y,"**",z)

Name ** Is ** James

In [21]:
# Write a Python program which accepts the radius of a circle from the user and compute the area .
radius=int(input("enter radius: "))
area=3.14*radius**2
print("area of circle:",area)

enter radius: 21
area of circle: 1384.74

In [22]:
# Accept two numbers from the user and return their sum, multiplication and division.
a=int(input("enter first value: "))
b=int(input("enter second value: "))
print(":addition is:",a+b,"multiplication is:",a*b,"division is:",a/b)

enter first value: 5
enter second value: 74
:addition is: 79 multiplication is: 370 division is: 0.06756756756756757

In [24]:
# Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50.
year=int(input("enter year: "))
print("result=",year+50)

enter year: 2021
result= 2071